.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.portfolio-item-img{
    border-radius:1.5rem;
    overflow: hidden;
}
.portfolio-item-img img{
    transition: var(--transition);
}
.portfolio-item-img img:hover{
    transform: scale(1.2);
}
.portfolio-item h3{
    margin: 1.2rem 0 2rem ;
}
.portfolio-item .link{
    display: flex;
    justify-content: space-between;
}

/* =====> media query-medium <===== */
@media screen and (max-width:1024px) {
    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }
    
  }
  /* =====> media query-small <===== */
  @media screen and (max-width:600px) {
    .portfolio-container{
        grid-template-columns: repeat(1,1fr);
        gap: 1.5rem;
    }
  }