.about-container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap:15%;
}
.about-me{
    width:100%;
    border-radius: 2rem ;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    );
    display: grid;
    place-items: center;
    overflow: hidden;
}
.about-me-img{
    border-radius: 2rem;
    overflow: hidden;
    transition: var(--transition);
    cursor: pointer;
}
.about-me-img:hover{
    transform:scale(1.1)translateY(15px);
}